body {
  background-image: linear-gradient(100deg, #71b7e6 , #c8a0e9);
  color: rgb(0, 0, 0);
}

button{
  margin: 9px 5px;
  font-weight: bold !important;
}

img:hover{
  position: relative;
  transform: scale(1.1);
  transition: 0.8s;
  font-weight: lighter;
}